<div class="main-container">
  <table class="box">
    <tr class="tb_heading">
      <td>Task</td>
      <td>Date</td>
      <td>Status</td>
      <td>Delete</td>
    </tr>

    <% Todo.all.each do |todo|%>

    <tr class="tb_heading">
      <td><%=todo.task%></td>
      <td><%= todo.date%></td>

      <% if todo.status == false || todo.status == 'null' %>
      <td>
        <a href="/todos/update/ <%= todo.id%>"><button class = "before_status">Mark as Complete</button></a>
      </td>
      <% else %>
      <td><button class = "after_status">Completed</button></td>
      <% end %>

      <td>
        <%= form_with(url: "/delete/#{todo.id}", method: "delete") do %> <%=submit_tag "Delete", class: "delete_button"%> <% end %>
      </td>
    </tr>
    <%end%>
  </table>
</div>
